*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width:100%;
    margin: 0;
    font-family: sans-serif;
    background: linear-gradient(to right top, #65df8e, #88df65);
    display: flex;
    align-items: center;
}


.content {
    margin-top: 5px;
    width: 45%;
    padding:40px;
    background: white;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.7), rgba(255,255,255,0.3));
    margin-left: auto;
    margin-right: auto;
    border-radius: 2rem;

}

.tekst {
    background-color: #efefef;
    color: #666;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size:20px;
    padding: 10px;
    box-sizing: border-box;
    width: 97%;
    font-size: 16px;

}

.button {
    font-size:20px;
    width: 97%;
    box-sizing: border-box;
    background-color: #52b036;
    color:white;
    padding:15px 10px;
    margin-top:10px;
    border:none;
    border-radius:10px;
    cursor:pointer;
    letter-spacing:2px;
}

table, td, th {
    border: 1px solid #aaa;
}

.tabela{
    background: linear-gradient(to right bottom, rgba(255,255,255,0.7), rgba(255,255,255,0.3));
    padding:20px;
    margin-top: 30px;
    width: 95%;
    
    margin-left:auto;
    margin-right:auto;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

.form {
    margin-top: 25px;
    margin-left: 25px;
    font-size: 18px;
}

#content {
    width: 70%;
}

.circle1{
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.3)
  );
  height: 20rem;
  width: 20rem;
  position: absolute;
  border-radius: 50%;
}

.circle1 {
  top: -10%;
  right: 10%;
}