{% extends 'base.html' %}

{% block head %}
<title>Termin Szczepień</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center; margin-top: 10px; padding-top: 20px;">TERMINY SZCZEPIEŃ</h1>

    <!-- PRZYCISK -->
    <div class="form">
        <form action="/" method="POST">
            Imię: <input type="text" name="imie" id="content">
            <br><br>
            Nazwisko: <input type="text" name="nazwisko" class="tekst">
            <br><br>
            Pesel: <input type="text" name="pesel" class="tekst">
            <br><br>
            Data szczepienia: <input type="data" name="data" class="tekst">
            <br><br>
            Godzina szczepienia: <input type="godzina" name="godzina" class="tekst">
            <br><br>
            <input type="submit" value="Dodaj">
        </form>
    </div>

    <!-- TABELKA -->
    <br><br>
    {% if termin_szczepienia|length < 1 %}
    <h4 style="text-align: center">Nie ma żadnych zarejestrowanych terminów.</h4>
    {% else %}
    <table>
        <tr>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Pesel</th>
            <th>Data szczepienia</th>
            <th>Godzina</th>
            <th>Modyfikacja</th>
        </tr>
        {% for termin in termin_szczepienia %}
            <tr>
                <td>{{ termin.imie }}</td>
                <td>{{ termin.nazwisko }}</td>
                <td>{{ termin.pesel }}</td>
                <td>{{ termin.data }}</td>
                <td>{{ termin.godzina }}</td>
                <td>
                    <a href="/delete/{{termin.id}}">Usuń</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>
{% endblock %}